@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

/* Style the header */
.header {
  background-color: #003300;
  padding: 50px;
  text-align: center;
  font-size: 25px;
  height: 300px;
}

#welcome {
  margin-top: 5px;
  float: left;
  text-align: left;
}

.welcome-text {
  margin-left: 5px;
  margin-top: 125px;
  text-align: left;
  
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}

/* Headings */
h1, h2 {
  font-family: Raleway, sans-serif;
  color: #b88747;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav{
  background-color: white;
  
}
/* Navigation Menu*/

#navmenu ol, ul {
  list-style-type: none;
}

#navmenu {
  margin: 60px;
  margin-right: 100px;
  width: 900px;
  font-family: Raleway, sans-serif;
  height: 100px;
  background-color: black;
  text-align: center;
    
}

#navmenu li {
  display: inline-block;
  width: 100px;
  margin-left: 60px;
  background-color: yellow;
  text-align: center;
  
}

#navmenu a {
  display: block;
  padding: 2px;
  text-decoration:none;
  color:antiquewhite;
}

#navmenu a:hover {
    color: red;
}

/* Create three unequal columns that sits next to each other */
.column {
  padding: 10px;
  height: 500px;
  
}

/* Left and right column */
.column.side {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   float: left;
   text-align: left;
}

/* Middle column */
.column.middle {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
